# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

# =========================
# Capacitor & Native Ignores
# =========================

# Capacitor General
capacitor.config.json

# Capacitor - Android
# 忽略 Android 的构建输出和本地 SDK 路径配置
android/*

# Capacitor - iOS
# 忽略 iOS 的用户特定数据和 CocoaPods 依赖包
ios/*